workflows_backup.json
[{"createdAt":"2025-11-10T19:46:15.055Z","updatedAt":"2025-11-10T20:05:01.000Z","id":"E9V0MF9UGp0apO03","name":"My workflow","active":false,"isArchived":true,"nodes":[],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"65e5b336-e5f6-4a14-85c0-954c465b6a0d","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-10T19:46:15.061Z","updatedAt":"2025-11-10T19:46:15.061Z","role":"workflow:owner","workflowId":"E9V0MF9UGp0apO03","projectId":"zqanDFFiSqk9QFxI","project":{"createdAt":"2025-11-10T19:20:20.571Z","updatedAt":"2025-11-10T19:20:30.114Z","id":"zqanDFFiSqk9QFxI","name":"EZEQUIEL CORONEL <ezequielcoronel199@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-10T20:03:14.272Z","updatedAt":"2025-11-10T20:05:00.000Z","id":"WFHXLarGWaTd5G7G","name":"My workflow 2","active":false,"isArchived":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.text }}\n","hasOutputParser":true,"options":{"systemMessage":"=Actuás como un agente de validación y limpieza de textos de reseñas gastronómicas.\n\nTareas:\n1. Eliminá símbolos irrelevantes, HTML, emojis y espacios redundantes.\n2. Convertí el texto a minúsculas.\n3. Validá si tiene al menos 5 palabras con sentido (coherencia mínima).\n\nDevolvé exclusivamente un JSON válido, sin ninguna explicación.\n\nFormato ESTRICTO (sin comillas mal cerradas, sin texto extra):\n\n{\n  \"texto_limpio\": \"<texto limpio>\",\n  \"valido\": true/false,\n  \"log_limpieza\": [\"tarea 1\", \"tarea 2\", ...]\n}\n\nNotas:\n- Si el texto no es limpiable, devolvé `\"valido\": false` y `log_limpieza`: [\"sin comentarios\"]\n- ¡NO agregues texto fuera del JSON!\n- ¡NO uses markdown ni etiquetas!\n\nEntrada a procesar:\n{{ $json[\"text\"] }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-352,208],"id":"520bd7cd-4a07-4511-9391-2ca2a88f3ae1","name":"AI Agent","onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-384,432],"id":"bec23368-3837-4aa8-bb3a-03303596537f","name":"Google Gemini Chat Model"},{"parameters":{"content":"# Agente de Calidad de Datos\n### Ingesta, validación y limpieza.\n","height":112,"width":1414},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1712,16],"id":"ff256a53-62e3-42ef-b18e-3920a0de6f5f","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"9b70f93c-2d86-4328-bd90-0888415283a6","name":"text","value":"={{ $json.datasets.map(item => item.text) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,208],"id":"94a1a3d3-d7f1-400b-809d-18c10de2afac","name":"Transformar a lista de textos"},{"parameters":{"fieldToSplitOut":"text","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-608,208],"id":"d7cacfb6-e4c3-447f-8be0-181a39d4ff3a","name":"Split Out"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1712,208],"id":"50f6330a-be31-4f0a-810f-f1982f645658","name":"When clicking ‘Execute workflow’"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Obtenemos los datasets del input\nconst data = $json;\n\n// Convertimos el objeto con claves dinámicas en un array limpio\nconst cleaned = Object.values(data).map(entry => ({ text: entry.text }));\n\n// Retornamos el array limpio\nreturn {\n  datasets: cleaned\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,208],"id":"006819c4-1ca7-46f6-935c-8ed082a72821","name":"Code"},{"parameters":{"jsonSchemaExample":"{\n  \"texto_limpio\": \"string\",\n  \"valido\": \"boolean\",\n  \"log_limpieza\": \"array\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-176,432],"id":"03765027-9d27-4a3b-87ec-e81a64a800b4","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04bbafa8-7aa4-4be3-8771-6e50cca934c8","leftValue":"={{ $json.output.valido }}","rightValue":"=true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,208],"id":"cced821a-2bc8-442c-b022-1111e5aeef76","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"911028b7-1660-44f5-8c02-54c674bb3f3b","name":"texto_limpio","value":"={{ $json.output.texto_limpio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,0],"id":"ef7267e5-4074-400b-bc8f-16a26ab27bf9","name":"Edit Fields"},{"parameters":{"options":{"fileName":"=textos_limpios_{{ $now.toFormat(\"yyyyLLdd_HHmmss\") }}.csv","headerRow":true}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[448,0],"id":"173bab28-be3e-4c4e-a668-72c0645ad3b7","name":"Convert to File"},{"parameters":{"operation":"write","fileName":"=/home/node/files_curados/{{ $binary.data.fileName }}","options":{"append":true}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[656,0],"id":"0a90648f-eaac-401e-94b7-3095bf26f7f3","name":"Read/Write Files from Disk1"},{"parameters":{"assignments":{"assignments":[{"id":"05ed1b2d-f819-4669-8aec-ff3cfc3ca77e","name":"texto_original","value":"={{ $json.output.texto_limpio }}","type":"string"},{"id":"12950c70-a085-430b-84e7-858e3b35558d","name":"error","value":"Texto inválido","type":"string"},{"id":"65efce67-ef23-428b-8fe0-3bc3082296c7","name":"fecha","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,384],"id":"046f7d35-13cf-443f-b094-386a10d0c7fd","name":"Edit Fields1"},{"parameters":{"options":{"fileName":"/files/log_errores.csv"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[448,384],"id":"0c46661b-6022-4652-9c84-2adbb533c6c9","name":"Convert to File1"},{"parameters":{"operation":"write","fileName":"/home/node/logs/log_errores.csv","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[672,384],"id":"ff9ecb1f-90c3-4230-86f7-ff7f1c8c6b8a","name":"Read/Write Files from Disk"},{"parameters":{"assignments":{"assignments":[{"id":"04d255bc-f3da-4a79-b0ae-837f8d2050a4","name":"texto_limpio","value":"={{ $json.output.texto_limpio }}","type":"string"},{"id":"b3189e08-1a1d-4cde-b78a-f3844f23cf44","name":"log_limpieza","value":"={{ $json.output.log_limpieza }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,192],"id":"831558eb-147a-44e6-8e3d-94e3ed0ab456","name":"Guardado de Logs"},{"parameters":{"operation":"toJson","binaryPropertyName":"=data","options":{"fileName":"logs_limpieza.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[448,192],"id":"bda7bc54-03aa-4313-bd89-8b8199deef93","name":"Convert to File2"},{"parameters":{"operation":"write","fileName":"/home/node/logs/logs_limpieza.json","options":{"append":true}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[672,192],"id":"515c6df2-7acd-48f6-8e66-3197caefd1d8","name":"Read/Write Files from Disk2"},{"parameters":{"url":"https://testproject-ab345-default-rtdb.firebaseio.com/datasets.json?orderBy=\"$key\"&limitToFirst=3","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$json[\"access_token\"]}}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1264,208],"id":"870ea0d8-5bae-4f10-8308-cec7a0a037e4","name":"Query"},{"parameters":{"workflowId":{"__rl":true,"value":"ny6GWtM02P6ZW2hN","mode":"list","cachedResultName":"firebase-auth-agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1488,208],"id":"27c9f38a-ef44-442a-8427-ccf3cdf47944","name":"Get Firebase Token"},{"parameters":{"jsCode":"// Construir resumen del log sin referencias externas\nconst summary = {\n  workflow_name: $workflow.name,\n  execution_id: $execution.id,\n  start_time: $execution.startTime,\n  end_time: new Date().toISOString(),\n  run_time_seconds: (new Date() - new Date($execution.startTime)) / 1000,\n  status: $execution.status || 'Success',\n  current_node: $itemIndex !== undefined ? `Item ${$itemIndex}` : 'Final Node',\n  input_summary: $json\n};\n\n// Convertir JSON a binario para el nodo \"Write Binary File\"\nreturn [\n  {\n    json: summary,\n    binary: {\n      data: {\n        data: Buffer.from(JSON.stringify(summary, null, 2)).toString('base64'),\n        mimeType: 'application/json',\n        fileName: `${$workflow.name}_${$execution.id}.json`,\n      },\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,176],"id":"8371a0f4-a6a3-457a-810e-5a2a0b79ba67","name":"monitoring"},{"parameters":{"operation":"write","fileName":"=/home/node/workflow_logs/{{$json.workflow_name}}.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1232,176],"id":"ca40c193-b26d-404d-b472-b4d77f97b3cd","name":"save-monitoring"},{"parameters":{"content":"## Monitoreo ","height":224,"width":496},"type":"n8n-nodes-base.stickyNote","position":[976,112],"typeVersion":1,"id":"c8bcf42c-3896-45ea-96b2-f8cc749db5a2","name":"Sticky Note1"}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Transformar a lista de textos":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get Firebase Token","type":"main","index":0}]]},"Code":{"main":[[{"node":"Transformar a lista de textos","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Guardado de Logs","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]},"Read/Write Files from Disk1":{"main":[[{"node":"monitoring","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Guardado de Logs":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Read/Write Files from Disk2","type":"main","index":0}]]},"Query":{"main":[[{"node":"Code","type":"main","index":0}]]},"Get Firebase Token":{"main":[[{"node":"Query","type":"main","index":0}]]},"Read/Write Files from Disk2":{"main":[[{"node":"monitoring","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"monitoring","type":"main","index":0}]]},"monitoring":{"main":[[{"node":"save-monitoring","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"67d83396-5442-4cab-a77a-b08706af6c99","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-10T20:03:14.274Z","updatedAt":"2025-11-10T20:03:14.274Z","role":"workflow:owner","workflowId":"WFHXLarGWaTd5G7G","projectId":"zqanDFFiSqk9QFxI","project":{"createdAt":"2025-11-10T19:20:20.571Z","updatedAt":"2025-11-10T19:20:30.114Z","id":"zqanDFFiSqk9QFxI","name":"EZEQUIEL CORONEL <ezequielcoronel199@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-10T20:04:04.369Z","updatedAt":"2025-11-10T20:05:02.000Z","id":"BkdeThqoM7rvRUUR","name":"My workflow 3","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[272,448],"id":"59d47222-fecf-49ed-ab4b-7db4f37e059b","name":"When clicking ‘Execute workflow’"},{"parameters":{"command":"n8n export:workflow --all --output=/home/node/workflows_backup.json\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[480,448],"id":"459c5c0c-e574-470b-8fc3-b919d90e4692","name":"Exportar Workflows"},{"parameters":{"fileSelector":"/home/node/workflows_backup.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[688,448],"id":"145cb218-a1e7-4043-9a2b-e668733b7840","name":"Read/Write Files from Disk","alwaysOutputData":true},{"parameters":{"jsCode":"// Obtener el contenido del archivo leído\nlet raw = items[0].json.data;\n\n// Si viene codificado o binario, convertirlo a string\nif (typeof raw !== 'string') {\n  raw = JSON.stringify(raw);\n}\n\n// Intentar parsear el contenido del backup\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  throw new Error(\"No se pudo parsear el JSON del backup: \" + e.message);\n}\n\n// Detectar si los workflows están dentro de un campo o en la raíz\nlet workflows = Array.isArray(parsed)\n  ? parsed\n  : parsed.workflows || parsed.data || [];\n\n// Validar que haya workflows\nif (!Array.isArray(workflows) || workflows.length === 0) {\n  throw new Error(\"No se encontraron workflows válidos en el backup.\");\n}\n\n// Crear resumen\nreturn workflows.map(wf => ({\n  nombre: wf.name || \"(sin nombre)\",\n  id: wf.id || \"(sin id)\",\n  descripcion: `${wf.nodes?.length || 0} nodos`,\n  tipos_nodos: wf.nodes?.map(n => n.type).join(\", \") || \"sin nodos\",\n  conexiones: Object.keys(wf.connections || {}).length + \" conexiones\"\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,448],"id":"ce66eb3c-2de8-431c-bc36-164599ad5bab","name":"Resumir Workflows"},{"parameters":{"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1392,656],"id":"c530c1c9-10ea-4430-a28c-a54e6c9afc88","name":"Google Gemini Chat Model"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[896,448],"id":"f40de8eb-ce1c-43af-8236-cd98fb1f812b","name":"Extract from File"},{"parameters":{"jsCode":"// Combina todos los outputs del AI Agent en un solo texto Markdown\n\nlet combined = \"# Documentación Consolidada de Workflows n8n\\n\\n\";\n\nfor (const item of items) {\n  if (item.json.output) {\n    combined += item.json.output.trim() + \"\\n\\n---\\n\\n\";\n  }\n}\n\nreturn [{ json: { documentation: combined } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1744,448],"id":"6cf8b6a6-defb-4889-86a0-54adb9e9e6eb","name":"Code"},{"parameters":{"promptType":"define","text":"={{$json.documentation}}\n","options":{"systemMessage":"Actuás como un corrector técnico y de formato Markdown.\nRecibís documentación técnica de workflows n8n.\nDebés:\n\nMejorar ortografía y gramática.\n\nAgrega emojis para hacer la documentacion mas agradable visualmente.\n\nAsegurar que los títulos usan #, ##, ### correctamente.\n\nNo cambiar el contenido técnico.\n\nNo agregar explicaciones extras.\n\nDevolveme solo el Markdown corregido."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1968,448],"id":"8b17edb4-db09-43df-8399-4540d0896709","name":"Corregir Markdown"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1968,656],"id":"8f644bc5-9251-4125-a17a-d5280988c282","name":"Google Gemini Chat Model1"},{"parameters":{"promptType":"define","text":"=A continuación se te provee un arreglo JSON con información de varios workflows exportados desde n8n:\n\n{{ $json }}\n\nCon esta información, generá un único documento en formato **Markdown (.md)** que contenga la documentación de todos los workflows.  \nCada workflow debe incluir las siguientes secciones:\n\n## {{ $json.nombre }}\n**ID:** {{ $json.id }}\n\n### Descripción general\nBasate en el campo {{ $json.descripcion }} para resumir cuántos nodos y conexiones tiene el flujo.\n\n### Propósito y contexto\nDescribí cuál podría ser su función dentro de un sistema automatizado.\n\n### Descripción técnica\nUsá los campos {{ $json.tipos_nodos }} y {{ $json.conexiones }} para explicar cómo está estructurado el flujo, qué tipo de nodos emplea (por ejemplo, `code`, `httpRequest`, `executeWorkflow`) y cómo se interrelacionan.\n\n### Recomendaciones\nIncluí sugerencias de mantenimiento y buenas prácticas específicas para este tipo de workflow (versionado, nomenclatura, logging, modularización).\n\n---\n\n⚠️ **Formato de salida obligatorio:**\n- Devolvé solo texto plano en formato Markdown.\n- No incluyas JSON ni explicaciones fuera del documento.\n- No uses bloques de código, solo texto estructurado con encabezados Markdown.\n","hasOutputParser":true,"options":{"systemMessage":"Actuás como un agente documentador técnico experto en n8n.  \nTu función es leer un listado JSON de workflows y generar documentación consolidada en formato Markdown.\n\nCada workflow incluye estos campos:\n- nombre\n- id\n- descripcion\n- tipos_nodos\n- conexiones\n\nDebés producir **un único texto** que documente todos los workflows de forma profesional, clara y estructurada.  \nNo devuelvas JSON ni objetos estructurados: solo texto en formato Markdown.\n\nEl contenido debe estar organizado por secciones, una por cada workflow, con títulos claros y descripciones técnicas detalladas.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1392,448],"id":"ce803b2c-21a9-4b9e-a85e-0de30c86c392","name":"Generar Documentación"},{"parameters":{"operation":"toText","sourceProperty":"output","options":{"fileName":"documentacion.md"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2272,448],"id":"30416fc8-ec64-444d-aee9-2c83adcc95ca","name":"Convert to File"},{"parameters":{"operation":"write","fileName":"/home/node/multiagent-mlops/documentacion.md","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2448,448],"id":"a63aa215-81fb-471d-97b7-ee5678d22e53","name":"GuardarDocumentacion"},{"parameters":{"operation":"write","fileName":"/home/node/multiagent-mlops/workflows_backup.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[896,256],"id":"10fcb112-5701-42cd-8bfa-0276d533e01a","name":"GuardarBackup"},{"parameters":{"command":"cd /home/node/multiagent-mlops\n\n# Copiar los archivos generados por n8n\n# cp /home/node/workflows_backup.json .\n# cp /home/node/documentacion.md .\n\n# Verificar cambios\ngit status\n\n# Hacer pull para evitar conflictos\n# git pull origin main --rebase\n\n# Agregar los nuevos archivos\ngit add documentacion.md workflows_backup.json\n\n# Crear commit con timestamp\ngit commit -m \"auto-doc: actualización de documentación y backup $(date +'%Y-%m-%d %H:%M:%S')\"\n\n# Subir al repositorio remoto\ngit push origin main\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2640,256],"id":"e026a1b0-fef2-4e27-80c9-f2e773fa8a4b","name":"Execute Command"},{"parameters":{"content":"# Agente de Documentación y Control de Versión\n### Realiza el backup del proyecto completo, genera la documentación pertinente y actualiza el repositorio de github del mismo.\n","height":112,"width":1414},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,64],"id":"999da55d-ac0e-4dfa-92a0-5b9ac02971b4","name":"Sticky Note1"},{"parameters":{"jsCode":"// Construir resumen del log sin referencias externas\nconst summary = {\n  workflow_name: $workflow.name,\n  execution_id: $execution.id,\n  start_time: $execution.startTime,\n  end_time: new Date().toISOString(),\n  run_time_seconds: (new Date() - new Date($execution.startTime)) / 1000,\n  status: $execution.status || 'Success',\n  current_node: $itemIndex !== undefined ? `Item ${$itemIndex}` : 'Final Node',\n  input_summary: $json\n};\n\n// Convertir JSON a binario para el nodo \"Write Binary File\"\nreturn [\n  {\n    json: summary,\n    binary: {\n      data: {\n        data: Buffer.from(JSON.stringify(summary, null, 2)).toString('base64'),\n        mimeType: 'application/json',\n        fileName: `${$workflow.name}_${$execution.id}.json`,\n      },\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2784,128],"id":"3fcc2177-4052-449f-9a3d-0e2f25a99f19","name":"monitoring"},{"parameters":{"operation":"write","fileName":"=/home/node/workflow_logs/{{$json.workflow_name}}.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2992,128],"id":"77620684-8b4a-446e-9c5c-afec134ad679","name":"save-monitoring"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      access_token: $json[\"stdout\"].trim(),\n      created_at: new Date().toISOString()\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,64],"id":"7b36fc75-3084-4a04-9ea9-4a3f6b9e4617","name":"Parse Firebase Token"},{"parameters":{"command":"node -e \"const fs=require('fs');const jwt=require('jsonwebtoken');const axios=require('axios');(async()=>{const key=JSON.parse(fs.readFileSync('/home/node/credentials/testproject-firebase-cred.json','utf8'));const now=Math.floor(Date.now()/1000);const payload={iss:key.client_email,scope:'https://www.googleapis.com/auth/firebase.database https://www.googleapis.com/auth/userinfo.email',aud:'https://oauth2.googleapis.com/token',iat:now,exp:now+3600};const token=jwt.sign(payload,key.private_key,{algorithm:'RS256'});const params=new URLSearchParams();params.append('grant_type','urn:ietf:params:oauth:grant-type:jwt-bearer');params.append('assertion',token);const res=await axios.post('https://oauth2.googleapis.com/token',params);console.log(res.data.access_token);})();\"\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[464,64],"id":"a7c3c080-0c45-45a1-8c9c-8b822edaee57","name":"Execute Command1","alwaysOutputData":true},{"parameters":{"jsCode":"// Code node: \"Parse CSV → Items\"\n// Lee el binario \"data\" que dejó el nodo de lectura de disco y emite N items (uno por fila)\n\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'data');\nlet text = buf.toString('utf8');\n\n// Limpia BOM y saltos\nif (text.charCodeAt(0) === 0xFEFF) text = text.slice(1);\ntext = text.replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n');\n\n// Detecta delimitador: coma, punto y coma o tab\nfunction detectDelimiter(sample) {\n  const firstLine = sample.split('\\n')[0] || '';\n  const counts = {\n    ',': (firstLine.match(/,/g) || []).length,\n    ';': (firstLine.match(/;/g) || []).length,\n    '\\t': (firstLine.match(/\\t/g) || []).length,\n  };\n  return Object.entries(counts).sort((a,b) => b[1]-a[1])[0][0] || ',';\n}\nconst DELIM = detectDelimiter(text);\n\n// Parser CSV simple con comillas\nfunction parseCSV(t, delimiter) {\n  const rows = [];\n  let row = [];\n  let val = '';\n  let inQuotes = false;\n\n  for (let i = 0; i < t.length; i++) {\n    const c = t[i];\n\n    if (inQuotes) {\n      if (c === '\"') {\n        if (t[i + 1] === '\"') { val += '\"'; i++; }\n        else { inQuotes = false; }\n      } else {\n        val += c;\n      }\n    } else {\n      if (c === '\"') inQuotes = true;\n      else if (c === delimiter) { row.push(val); val = ''; }\n      else if (c === '\\n') { row.push(val); rows.push(row); row = []; val = ''; }\n      else { val += c; }\n    }\n  }\n  if (val.length > 0 || row.length > 0) { row.push(val); rows.push(row); }\n  return rows;\n}\n\nconst rows = parseCSV(text, DELIM);\nif (!rows.length) return [];\n\n// Primera fila = headers\nconst headers = rows.shift().map(h => String(h || '').trim());\n\n// Mapear filas a objetos JSON\nconst items = rows\n  .filter(r => r.some(x => String(x || '').trim() !== '')) // descarta filas vacías\n  .map(r => {\n    const obj = {};\n    headers.forEach((h, i) => { obj[h] = r[i] !== undefined ? r[i] : ''; });\n    return { json: obj };\n  });\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2752,784],"id":"fac69710-8a1b-4fca-9882-5e5bad45b5d7","name":"Parse CSV → Items"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3200,944],"id":"64fa7549-7c10-4667-8f80-361522bb3325","name":"Merge"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const result0 = $json[\"0\"];\nconst result1 = $json[\"1\"];\n\nlet bestResult = null;\n\n// Si existen ambos resultados, elegimos el de mayor score\nif (result0 && result1) {\n  bestResult = result0.score >= result1.score ? result0 : result1;\n} else {\n  // Si solo hay uno de los dos\n  bestResult = result0 || result1;\n}\n\n// Devolvemos un único objeto (no un array)\nreturn {\n  json: {\n    label: bestResult.label,\n    score: bestResult.score,\n    texto_limpio: $json.texto_limpio,\n    timestamp: new Date().toISOString()\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3408,944],"id":"758592a2-6fdf-414f-a70a-c85ba2bee823","name":"Elige el score más alto"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"label\": { \"type\": \"string\" },\n    \"score\": { \"type\": \"number\" },\n    \"texto_limpio\": { \"type\": \"string\" },\n    \"analisis_ai\": { \"type\": \"string\" },\n    \"derivar_a\": { \"type\": \"string\" }\n  },\n  \"required\": [\"label\", \"score\", \"texto_limpio\", \"analisis_ai\", \"derivar_a\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[3824,1152],"id":"800104b5-4b13-4ede-bfb6-8c16bc3a6794","name":"Structured Output Parser"},{"parameters":{"content":"# Agente de Inferencia\n### Recibe textos preprocesados, ejecuta el modelo de inferencia y guarda los resultados con analisis y derivación a Atención a usuarios o a Marketing\n","height":112,"width":1414},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1584,512],"id":"d9b7be63-523e-4779-a884-c11e2e163c92","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://router.huggingface.co/hf-inference/models/siebert/sentiment-roberta-large-english","authentication":"predefinedCredentialType","nodeCredentialType":"huggingFaceApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"inputs\": \"={{ $json.texto_limpio }}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2976,672],"id":"29a7d1de-6f1f-43f8-a9d1-f0c64897bbd2","name":"Inferencia"},{"parameters":{"promptType":"define","text":"=Analizá el siguiente texto:\n\"{{$json[\"texto_limpio\"]}}\"\n\nResultados previos:\n- Sentimiento detectado: {{$json[\"label\"]}}\n- Nivel de confianza: {{$json[\"score\"]}}\n\nTarea:\nDevolvé un JSON con los siguientes campos:\n{\n  \"label\": \"{{$json[\"label\"]}}\",\n  \"score\": {{$json[\"score\"]}},\n  \"texto_limpio\": \"{{$json[\"texto_limpio\"]}}\",\n  \"analisis_ai\": \"string\",\n  \"derivar_a\": \"string\"\n}\n\nReglas:\n- En \"analisis_ai\", escribí un breve análisis del sentimiento (máx. 2 oraciones).\n- Si label = \"POSITIVE\" → derivar_a = \"Marketing\"\n- En cualquier otro caso → derivar_a = \"Atención a Usuarios\"\n- La salida debe ser SOLO un objeto JSON válido.\n","hasOutputParser":true,"options":{"systemMessage":"Sos un analista de sentimientos que trabaja con datos estructurados.\n\nReglas estrictas:\n- Procesá EXCLUSIVAMENTE los objetos que te lleguen en la entrada JSON.\n- NO inventes, traduzcas ni reescribas los textos.\n- Debés conservar \"label\", \"score\" y \"texto_limpio\" exactamente como vienen.\n- Solo agregá los campos \"analisis_ai\" y \"derivar_a\".\n- No generes nuevos objetos ni cambies la cantidad de elementos.\n- Respondé únicamente con un arreglo JSON (una lista []) que contenga un objeto por cada elemento recibido.\n- No agregues ningún texto fuera del JSON (ni explicaciones ni comentarios).\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[3632,944],"id":"acfab02f-2048-49d8-9de0-70f4ec750b38","name":"Procesar inferencia y derivar"},{"parameters":{"method":"POST","url":"https://testproject-ab345-default-rtdb.firebaseio.com/resultados.json?auth=bn4kSmPS1OpwKaNiWhtY9PJfX7FMDDhdE5t1kSI2","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"label\": \"{{$json.output.label}}\",\n  \"score\": \"{{$json.output.score}}\",\n  \"texto_limpio\": \"{{$json.output.texto_limpio}}\",\n  \"analisis_ai\": \"{{$json.output.analisis_ai}}\",\n  \"derivar_a\": \"{{$json.output.derivar_a}}\",\n  \"timestamp\": \"{{$now}}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4160,848],"id":"92c74046-2a66-42bb-b806-dc63ab495c01","name":"Guardar inferencia y desición","executeOnce":false},{"parameters":{"fileSelector":"={{ $json.stdout }}","options":{"fileExtension":"csv"}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2528,784],"id":"39c1ae69-ba9a-44c7-98ca-ac7db0699664","name":"Read/Write Files from Disk1"},{"parameters":{"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[3584,1152],"id":"fcbb5ce3-a58f-40f9-8156-285800a3144d","name":"Google Gemini Chat Model2"},{"parameters":{"jsCode":"// Construir resumen del log sin referencias externas\nconst summary = {\n  workflow_name: $workflow.name,\n  execution_id: $execution.id,\n  start_time: $execution.startTime,\n  end_time: new Date().toISOString(),\n  run_time_seconds: (new Date() - new Date($execution.startTime)) / 1000,\n  status: $execution.status || 'Success',\n  current_node: $itemIndex !== undefined ? `Item ${$itemIndex}` : 'Final Node',\n  input_summary: $json\n};\n\n// Convertir JSON a binario para el nodo \"Write Binary File\"\nreturn [\n  {\n    json: summary,\n    binary: {\n      data: {\n        data: Buffer.from(JSON.stringify(summary, null, 2)).toString('base64'),\n        mimeType: 'application/json',\n        fileName: `${$workflow.name}_${$execution.id}.json`,\n      },\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4560,784],"id":"d3cd30a2-5bc5-401d-8004-958e7bf3678f","name":"monitoring1"},{"parameters":{"operation":"write","fileName":"=/home/node/workflow_logs/{{$json.workflow_name}}.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[4768,784],"id":"72682561-a884-41b8-b474-84a3b8324fd0","name":"save-monitoring1"},{"parameters":{"command":"ls -t /home/node/files_curados/*.csv | head -n 1\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2192,880],"id":"167ab84a-19ae-4752-87ce-b92fed04eb0b","name":"Execute Command2"},{"parameters":{"content":"## Monitoreo ","height":224,"width":496},"type":"n8n-nodes-base.stickyNote","position":[4480,720],"typeVersion":1,"id":"cc8860d2-97cf-45e7-86fa-99390b0106be","name":"Sticky Note2"},{"parameters":{"jsCode":"// Construir resumen del log sin referencias externas\nconst summary = {\n  workflow_name: $workflow.name,\n  execution_id: $execution.id,\n  start_time: $execution.startTime,\n  end_time: new Date().toISOString(),\n  run_time_seconds: (new Date() - new Date($execution.startTime)) / 1000,\n  status: $execution.status || 'Success',\n  current_node: $itemIndex !== undefined ? `Item ${$itemIndex}` : 'Final Node',\n  input_summary: $json\n};\n\n// Convertir JSON a binario para el nodo \"Write Binary File\"\nreturn [\n  {\n    json: summary,\n    binary: {\n      data: {\n        data: Buffer.from(JSON.stringify(summary, null, 2)).toString('base64'),\n        mimeType: 'application/json',\n        fileName: `${$workflow.name}_${$execution.id}.json`,\n      },\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,208],"id":"f72465e2-2359-4e8f-aa77-65a0766dd743","name":"monitoring2"},{"parameters":{"operation":"write","fileName":"=/home/node/workflow_logs/{{$json.workflow_name}}.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[592,208],"id":"e6494e2e-3975-4cd8-89b8-5bae0e62802c","name":"save-monitoring2"},{"parameters":{"assignments":{"assignments":[{"id":"ed4d204a-1986-43ab-97c3-715c69da9624","name":"modo","value":"actualizacion","type":"string"},{"id":"25a88e13-2338-4660-aa79-82219c8f6c87","name":"source","value":"main-workflow","type":"string"},{"id":"ee3e3bf1-67b8-477e-90dc-961d5a9c48c3","name":"timestamp","value":"={{$now}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,2496],"id":"8bc6d827-90b3-4283-8dc0-4e6d7d8b6f9d","name":"Configurar Modo"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"330ad889-714a-448e-ba33-f9c94dd02692","leftValue":"={{ $json.modo }}","rightValue":"ejecución","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1104,2496],"id":"9d02b430-9048-4ad8-a993-a7e117b0b6b9","name":"¿modo ejecucion?"},{"parameters":{"workflowId":{"__rl":true,"value":"R5JJVzcAIig376UW","mode":"list","cachedResultName":"data-quality-agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1472,2320],"id":"62c6040b-71f0-4c25-91ae-86a973e7ef41","name":"Preprocesamiento","notesInFlow":false},{"parameters":{"workflowId":{"__rl":true,"value":"BcNqU1uqUwsrJTuO","mode":"list","cachedResultName":"reporter-agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1920,2320],"id":"5a892534-008f-48b0-afa4-11847cb46c45","name":"Reporte de resultados"},{"parameters":{"workflowId":{"__rl":true,"value":"PIHgOJZyhJWu7CWX","mode":"list","cachedResultName":"doc-and-versioner-agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1920,2688],"id":"bfc4d957-20ff-46c2-9254-8e2bfde467fb","name":"Documentación y versionado"},{"parameters":{"workflowId":{"__rl":true,"value":"R5JJVzcAIig376UW","mode":"list","cachedResultName":"data-quality-agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1472,2688],"id":"c301392c-6a1c-46ce-a9b8-d339f3014d24","name":"Update Preprocesamiento","notesInFlow":false},{"parameters":{"workflowId":{"__rl":true,"value":"vnk9JLkQxqZAYVHp","mode":"list","cachedResultName":"inference-agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1696,2688],"id":"701a0d6c-dbb7-4b75-9618-413417da0e6d","name":"Update Inferencia"},{"parameters":{"content":"# Sistema autónomo multiagente (SMA) en MLOps\n### Arquitectura avanzada que combina la gestión del ciclo de vida del aprendizaje automático (MLOps) con la colaboración de múltiples agentes AI autónomos.","height":96,"width":1808,"color":3},"type":"n8n-nodes-base.stickyNote","position":[336,2176],"typeVersion":1,"id":"f1f6fe8b-0fca-4661-ba7e-b8e87aaaee6a","name":"Sticky Note3"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"00 17 10 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[320,2704],"id":"8b551fbc-f942-440f-9722-4767c25a8fb4","name":"Schedule Trigger"},{"parameters":{"content":"## Monitoreo ","height":224,"width":496},"type":"n8n-nodes-base.stickyNote","position":[2240,2496],"typeVersion":1,"id":"440f1bf6-a3f1-447f-95eb-d84c0a87a195","name":"Sticky Note4"},{"parameters":{"content":"## Configurar Modo\n### Debe detallar el modo \"actualización\" o \"ejecución\" dentro de la configuración del nodo. (Importante: considerar el uso del tilde)","height":336,"width":416},"type":"n8n-nodes-base.stickyNote","position":[560,2352],"typeVersion":1,"id":"1959410b-b73a-4973-b0c9-9c30d85fe083","name":"Sticky Note5"},{"parameters":{"workflowId":{"__rl":true,"value":"vnk9JLkQxqZAYVHp","mode":"list","cachedResultName":"inference-agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1696,2320],"id":"f710001c-f404-4de9-8bed-a59fd4f30e98","name":"Inferencia1"},{"parameters":{"content":"\n\n**Se utilizan registros de prueba**","height":256,"width":256},"type":"n8n-nodes-base.stickyNote","position":[1392,2608],"typeVersion":1,"id":"afdaae1e-328c-4fa4-a7b2-087136e05da4","name":"Sticky Note6"},{"parameters":{"content":"## Pendiente\n- crear base de datos de ejecuciones en firebase\n(tiene que contener id_ejecucion, fecha y hora de ejec, status de cada paso del flujo y append de logs individuales)\n- crear base q guarde id_ejecucion, cantidad de reseñas analizadas, porcentaje de positivas, porcentaje de negativas, porcentaje de error\n- crear documento de reporte de ejecucion que contenga los dos de ambas tablas para la ejecicion dada y una conclusion para el negocio que solicito el analisis\n- enviar documento via mail","height":480},"type":"n8n-nodes-base.stickyNote","position":[2160,1984],"typeVersion":1,"id":"c50a4681-a63f-40df-b45b-2e0e605d24f6","name":"Sticky Note7"},{"parameters":{"jsCode":"// Construir resumen del log sin referencias externas\nconst summary = {\n  workflow_name: $workflow.name,\n  execution_id: $execution.id,\n  start_time: $execution.startTime,\n  end_time: new Date().toISOString(),\n  run_time_seconds: (new Date() - new Date($execution.startTime)) / 1000,\n  status: $execution.status || 'Success',\n  current_node: $itemIndex !== undefined ? `Item ${$itemIndex}` : 'Final Node',\n  input_summary: $json\n};\n\n// Convertir JSON a binario para el nodo \"Write Binary File\"\nreturn [\n  {\n    json: summary,\n    binary: {\n      data: {\n        data: Buffer.from(JSON.stringify(summary, null, 2)).toString('base64'),\n        mimeType: 'application/json',\n        fileName: `${$workflow.name}_${$execution.id}.json`,\n      },\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2320,2560],"id":"3d186a84-2bdc-4fd1-990d-8c015c511b77","name":"monitoring3"},{"parameters":{"operation":"write","fileName":"=/home/node/workflow_logs/{{$json.workflow_name}}.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2528,2560],"id":"9c3939c9-d9f7-4eef-a190-7d5752817038","name":"save-monitoring3"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Exportar Workflows","type":"main","index":0}]]},"Exportar Workflows":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0},{"node":"GuardarBackup","type":"main","index":0}]]},"Resumir Workflows":{"main":[[{"node":"Generar Documentación","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Generar Documentación","type":"ai_languageModel","index":0}]]},"Extract from File":{"main":[[{"node":"Resumir Workflows","type":"main","index":0}]]},"Code":{"main":[[{"node":"Corregir Markdown","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Corregir Markdown","type":"ai_languageModel","index":0}]]},"Generar Documentación":{"main":[[{"node":"Code","type":"main","index":0}]]},"Corregir Markdown":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"GuardarDocumentacion","type":"main","index":0}]]},"GuardarDocumentacion":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"monitoring","type":"main","index":0}]]},"monitoring":{"main":[[{"node":"save-monitoring","type":"main","index":0}]]},"Execute Command1":{"main":[[{"node":"Parse Firebase Token","type":"main","index":0}]]},"Parse CSV → Items":{"main":[[{"node":"Inferencia","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Elige el score más alto","type":"main","index":0}]]},"Elige el score más alto":{"main":[[{"node":"Procesar inferencia y derivar","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Procesar inferencia y derivar","type":"ai_outputParser","index":0}]]},"Inferencia":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Procesar inferencia y derivar":{"main":[[{"node":"Guardar inferencia y desición","type":"main","index":0}]]},"Guardar inferencia y desición":{"main":[[{"node":"monitoring1","type":"main","index":0}]]},"Read/Write Files from Disk1":{"main":[[{"node":"Parse CSV → Items","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Procesar inferencia y derivar","type":"ai_languageModel","index":0}]]},"monitoring1":{"main":[[{"node":"save-monitoring1","type":"main","index":0}]]},"Execute Command2":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]},"monitoring2":{"main":[[{"node":"save-monitoring2","type":"main","index":0}]]},"Configurar Modo":{"main":[[{"node":"¿modo ejecucion?","type":"main","index":0}]]},"¿modo ejecucion?":{"main":[[{"node":"Preprocesamiento","type":"main","index":0}],[{"node":"Update Preprocesamiento","type":"main","index":0}]]},"Preprocesamiento":{"main":[[{"node":"Inferencia1","type":"main","index":0}]]},"Update Preprocesamiento":{"main":[[{"node":"Update Inferencia","type":"main","index":0}]]},"Update Inferencia":{"main":[[{"node":"Documentación y versionado","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Configurar Modo","type":"main","index":0}]]},"Documentación y versionado":{"main":[[{"node":"monitoring3","type":"main","index":0}]]},"Reporte de resultados":{"main":[[{"node":"monitoring3","type":"main","index":0}]]},"Inferencia1":{"main":[[{"node":"Reporte de resultados","type":"main","index":0}]]},"monitoring3":{"main":[[{"node":"save-monitoring3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6613b7ac-d411-4101-979d-4cba06fac7c2","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-10T20:04:04.371Z","updatedAt":"2025-11-10T20:04:04.371Z","role":"workflow:owner","workflowId":"BkdeThqoM7rvRUUR","projectId":"zqanDFFiSqk9QFxI","project":{"createdAt":"2025-11-10T19:20:20.571Z","updatedAt":"2025-11-10T19:20:30.114Z","id":"zqanDFFiSqk9QFxI","name":"EZEQUIEL CORONEL <ezequielcoronel199@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-10T20:05:20.357Z","updatedAt":"2025-11-27T21:22:41.000Z","id":"qqAzJ1T8t4dUtC2d","name":"workflow-principal-moc","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"ed4d204a-1986-43ab-97c3-715c69da9624","name":"modo","value":"actualizacion","type":"string"},{"id":"25a88e13-2338-4660-aa79-82219c8f6c87","name":"source","value":"main-workflow","type":"string"},{"id":"ee3e3bf1-67b8-477e-90dc-961d5a9c48c3","name":"timestamp","value":"={{$now}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1376,512],"id":"ac2ded1c-d645-4bf4-9436-d398fb1e4362","name":"Configurar Modo"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"330ad889-714a-448e-ba33-f9c94dd02692","leftValue":"={{ $json.modo }}","rightValue":"ejecucion","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1056,512],"id":"7f232368-5537-49ea-84b8-afcb87359866","name":"¿modo ejecucion?"},{"parameters":{"content":"## Configurar Modo\n### Debe detallar el modo \"actualización\" o \"ejecución\" dentro de la configuración del nodo. (Importante: considerar el uso del tilde)","height":336,"width":416},"type":"n8n-nodes-base.stickyNote","position":[-1536,368],"typeVersion":1,"id":"41657778-4b4a-4704-9a48-7a0d65513cc4","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1696,320],"id":"fb8c6a2b-d033-4510-b7dd-b01b35208bd6","name":"Inicio MOC"},{"parameters":{"workflowId":{"__rl":true,"value":"QwbZDsRf37FIFiTA","mode":"list","cachedResultName":"data-quality-agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-752,320],"id":"0e13c5dc-0e45-4056-80d1-19465b31c1f4","name":"Preprocesamiento","notesInFlow":false},{"parameters":{"workflowId":{"__rl":true,"value":"tz9DZYCxLA4sQ8rd","mode":"list","cachedResultName":"inference-agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-528,320],"id":"f39b84e1-2e64-486a-bf27-a1c6ade9f431","name":"Inferencia"},{"parameters":{"workflowId":{"__rl":true,"value":"siic1OlTHrfutnm1","mode":"list","cachedResultName":"reporter-agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[352,416],"id":"0c22d9fc-96ee-41ed-a513-5a1b8e7070cc","name":"Reporte de resultados"},{"parameters":{"workflowId":{"__rl":true,"value":"lNUdXTrx7EOV06X5","mode":"list","cachedResultName":"doc-and-versioner-agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-400,688],"id":"b3803707-d9b3-4fb1-bbf5-f4c3e8306515","name":"Documentación y versionado"},{"parameters":{"content":"\n\n**Se utilizan registros de prueba**","height":256,"width":256},"type":"n8n-nodes-base.stickyNote","position":[-896,608],"typeVersion":1,"id":"725c4d51-5712-4e34-8220-2bbd905fd931","name":"Sticky Note1"},{"parameters":{"workflowId":{"__rl":true,"value":"QwbZDsRf37FIFiTA","mode":"list","cachedResultName":"data-quality-agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-816,688],"id":"136a540c-ddfc-463f-a306-daf642311f7d","name":"Update Preprocesamiento","notesInFlow":false},{"parameters":{"workflowId":{"__rl":true,"value":"tz9DZYCxLA4sQ8rd","mode":"list","cachedResultName":"inference-agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-592,688],"id":"e3593c17-a826-4271-9c43-754b3216ad65","name":"Update Inferencia"},{"parameters":{"content":"# Sistema autónomo multiagente (SMA) en MLOps\n## Arquitectura avanzada que combina la gestión del ciclo de vida del aprendizaje automático (MLOps) con la colaboración de múltiples agentes AI autónomos.","height":112,"width":2352,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1760,144],"typeVersion":1,"id":"5be38e54-a215-44fe-bb5e-ac514c537033","name":"Sticky Note3"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"00 17 24 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1696,720],"id":"0be67a2e-378c-4eba-979d-1baf3e29a4eb","name":"Schedule Trigger"},{"parameters":{"content":"## Monitoreo y reporte  resultads","height":224,"width":752},"type":"n8n-nodes-base.stickyNote","position":[-208,352],"typeVersion":1,"id":"3e09df3d-5780-4fc6-9332-0575210a011c","name":"Sticky Note4"},{"parameters":{"jsCode":"// Construir resumen del log sin referencias externas\nconst summary = {\n  workflow_name: $workflow.name,\n  execution_id: $execution.id,\n  start_time: $execution.startTime,\n  end_time: new Date().toISOString(),\n  run_time_seconds: (new Date() - new Date($execution.startTime)) / 1000,\n  status: $execution.status || 'Success',\n  current_node: $itemIndex !== undefined ? `Item ${$itemIndex}` : 'Final Node',\n  input_summary: $json\n};\n\n// Convertir JSON a binario para el nodo \"Write Binary File\"\nreturn [\n  {\n    json: summary,\n    binary: {\n      data: {\n        data: Buffer.from(JSON.stringify(summary, null, 2)).toString('base64'),\n        mimeType: 'application/json',\n        fileName: `${$workflow.name}_${$execution.id}.json`,\n      },\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,416],"id":"4a72615f-7c34-4aa5-9377-a5fa280a9612","name":"Monitoreo de ejecución"},{"parameters":{"operation":"write","fileName":"=/home/node/workflow_logs/{{$json.workflow_name}}.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[112,416],"id":"21d9d4e3-91b8-49a9-80d6-004674aa00d8","name":"Guardar Monitoreo"}],"connections":{"Configurar Modo":{"main":[[{"node":"¿modo ejecucion?","type":"main","index":0}]]},"¿modo ejecucion?":{"main":[[{"node":"Preprocesamiento","type":"main","index":0}],[{"node":"Update Preprocesamiento","type":"main","index":0}]]},"Inicio MOC":{"main":[[{"node":"Configurar Modo","type":"main","index":0}]]},"Preprocesamiento":{"main":[[{"node":"Inferencia","type":"main","index":0}]]},"Inferencia":{"main":[[{"node":"Monitoreo de ejecución","type":"main","index":0}]]},"Update Preprocesamiento":{"main":[[{"node":"Update Inferencia","type":"main","index":0}]]},"Update Inferencia":{"main":[[{"node":"Documentación y versionado","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Configurar Modo","type":"main","index":0}]]},"Documentación y versionado":{"main":[[{"node":"Monitoreo de ejecución","type":"main","index":0}]]},"Reporte de resultados":{"main":[[]]},"Monitoreo de ejecución":{"main":[[{"node":"Guardar Monitoreo","type":"main","index":0}]]},"Guardar Monitoreo":{"main":[[{"node":"Reporte de resultados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f886a1e7-432c-48cd-bc18-7aa993e58918","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-10T20:05:20.360Z","updatedAt":"2025-11-10T20:05:20.360Z","role":"workflow:owner","workflowId":"qqAzJ1T8t4dUtC2d","projectId":"zqanDFFiSqk9QFxI","project":{"createdAt":"2025-11-10T19:20:20.571Z","updatedAt":"2025-11-10T19:20:30.114Z","id":"zqanDFFiSqk9QFxI","name":"EZEQUIEL CORONEL <ezequielcoronel199@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-10T20:06:04.572Z","updatedAt":"2025-11-27T21:21:51.000Z","id":"QwbZDsRf37FIFiTA","name":"data-quality-agent","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.text }}\n","hasOutputParser":true,"options":{"systemMessage":"=Actuás como un agente de validación y limpieza de textos de reseñas gastronómicas.\n\nTareas:\n1. Eliminá símbolos irrelevantes, HTML, emojis y espacios redundantes.\n2. Convertí el texto a minúsculas.\n3. Validá si tiene al menos 5 palabras con sentido (coherencia mínima).\n\nDevolvé exclusivamente un JSON válido, sin ninguna explicación.\n\nFormato ESTRICTO (sin comillas mal cerradas, sin texto extra):\n\n{\n  \"texto_limpio\": \"<texto limpio>\",\n  \"valido\": true/false,\n  \"log_limpieza\": [\"tarea 1\", \"tarea 2\", ...]\n}\n\nNotas:\n- Si el texto no es limpiable, devolvé `\"valido\": false` y `log_limpieza`: [\"sin comentarios\"]\n- ¡NO agregues texto fuera del JSON!\n- ¡NO uses markdown ni etiquetas!\n\nEntrada a procesar:\n{{ $json[\"text\"] }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-704,208],"id":"99609838-b9ee-40e0-b73c-52ab2c36e50f","name":"AI Agent","onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-736,432],"id":"a253bf8a-6bb2-4cda-84ba-90c6705176cd","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"EYpPnE7Co7SzjDYu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"# Agente de Calidad de Datos\n## Ingesta, validación y limpieza de datos.\n","height":128,"width":2582},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1872,-160],"id":"fab76d55-22b7-4e81-b9a4-3e75d22adf63","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"9b70f93c-2d86-4328-bd90-0888415283a6","name":"text","value":"={{ $json.datasets.map(item => item.text) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1120,208],"id":"f15fc8cc-437f-43cf-92be-2d8972414d2d","name":"Transformar a lista de textos"},{"parameters":{"fieldToSplitOut":"text","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-928,208],"id":"e2208c76-cfcd-48c7-a72f-554e98b004e8","name":"Split Out"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1872,208],"id":"753f35c0-772f-4bba-84af-1e96dfe044c7","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsonSchemaExample":"{\n  \"texto_limpio\": \"string\",\n  \"valido\": \"boolean\",\n  \"log_limpieza\": \"array\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-528,432],"id":"54995219-b6a7-4545-ba41-dc56d70de2aa","name":"Structured Output Parser","notesInFlow":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04bbafa8-7aa4-4be3-8771-6e50cca934c8","leftValue":"={{ $json.output.valido }}","rightValue":"=true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-432,208],"id":"f3e9139f-3fb6-4030-aab8-32e5323fe877","name":"If"},{"parameters":{"options":{"fileName":"=textos_limpios_{{ $now.toFormat(\"yyyyLLdd_HHmmss\") }}.csv","headerRow":true}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-80,0],"id":"496e3216-f1f8-4e1b-bc69-1d345ed59a30","name":"Convert to File"},{"parameters":{"options":{"fileName":"/files/log_errores.csv"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-80,384],"id":"46fa95d1-d173-4cea-944b-51d7baa409bf","name":"Convert to File1"},{"parameters":{"assignments":{"assignments":[{"id":"04d255bc-f3da-4a79-b0ae-837f8d2050a4","name":"texto_limpio","value":"={{ $json.output.texto_limpio }}","type":"string"},{"id":"b3189e08-1a1d-4cde-b78a-f3844f23cf44","name":"log_limpieza","value":"={{ $json.output.log_limpieza }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,192],"id":"bb07de9e-1c29-4c76-aeb1-f1c6682b02f7","name":"Guardado de Logs"},{"parameters":{"operation":"toJson","binaryPropertyName":"=data","options":{"fileName":"logs_limpieza.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-80,192],"id":"b88b5860-6b8f-4780-9a81-63deb5fb6bb3","name":"Convert to File2"},{"parameters":{"workflowId":{"__rl":true,"value":"hQHV5pghHQN0FcNK","mode":"list","cachedResultName":"firebase-auth-agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1680,208],"id":"8c6888ee-e5db-4cf4-a017-a4165dc1c1d4","name":"Get Firebase Token"},{"parameters":{"content":"## Monitoreo ","height":224,"width":400},"type":"n8n-nodes-base.stickyNote","position":[304,112],"typeVersion":1,"id":"dcef13a8-5eea-4ccc-999b-e43353e74885","name":"Sticky Note1"},{"parameters":{"url":"https://testproject-ab345-default-rtdb.firebaseio.com/datasets.json?orderBy=\"$key\"&limitToFirst=3","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$json[\"access_token\"]}}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1488,208],"id":"56c34792-dc9a-487f-9950-d174d6f533b8","name":"Obtenemos los datos"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Obtenemos los datasets del input\nconst data = $json;\n\n// Convertimos el objeto con claves dinámicas en un array limpio\nconst cleaned = Object.values(data).map(entry => ({ text: entry.text }));\n\n// Retornamos el array limpio\nreturn {\n  datasets: cleaned\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1312,208],"id":"0efa0ab2-b485-460b-9606-190760a34bf8","name":"Parseamos input"},{"parameters":{"jsCode":"// Contar la cantidad de items que llegan al Code node\nconst totalReviews = items.length;\n\n// Crear el JSON con la estructura deseada\nconst jsonData = JSON.stringify({\n  total_reviews: totalReviews\n}, null, 2);\n\n// Retornar el archivo binario en formato JSON\nreturn [\n  {\n    json: {},\n    binary: {\n      data: {\n        data: Buffer.from(jsonData, 'utf8'),\n        mimeType: 'application/json',\n        fileName: 'total-reviews.json'\n      }\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-928,416],"id":"c96b2aa1-5133-4918-bfc0-8d65e02bf8fc","name":"Contador de reseñas"},{"parameters":{"operation":"write","fileName":"/home/node/multiagent-mlops/total-inputs-reviews.json","dataPropertyName":"=data","options":{"append":false}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-928,624],"id":"1d4d8f3e-a074-4b65-8c4e-63d5f208d22a","name":"Guardar total reseñas"},{"parameters":{"assignments":{"assignments":[{"id":"911028b7-1660-44f5-8c02-54c674bb3f3b","name":"texto_limpio","value":"={{ $json.output.texto_limpio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,0],"id":"eb2db84d-8318-4563-9327-12267700205a","name":"Mapping Texto Limpio"},{"parameters":{"assignments":{"assignments":[{"id":"05ed1b2d-f819-4669-8aec-ff3cfc3ca77e","name":"texto_original","value":"={{ $json.output.texto_limpio }}","type":"string"},{"id":"12950c70-a085-430b-84e7-858e3b35558d","name":"error","value":"Texto inválido","type":"string"},{"id":"65efce67-ef23-428b-8fe0-3bc3082296c7","name":"fecha","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,384],"id":"33e03590-b02e-49af-ac00-c550c829781b","name":"Map error"},{"parameters":{"operation":"write","fileName":"=/home/node/files_curados/{{ $binary.data.fileName }}","options":{"append":true}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[96,0],"id":"8f8b15cd-e404-4620-8ac7-38f25c12f1a1","name":"Guardar Preprocesados"},{"parameters":{"operation":"write","fileName":"/home/node/logs/logs_limpieza.json","options":{"append":true}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[96,192],"id":"7167d9c4-c62e-4ea5-88d2-d0b5159964b0","name":"Guardar logs ok"},{"parameters":{"operation":"write","fileName":"/home/node/logs/log_errores.csv","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[96,384],"id":"04129edd-53a0-4920-8630-d7235e3ac517","name":"Guardar logs error"},{"parameters":{"jsCode":"// Construir resumen del log sin referencias externas\nconst summary = {\n  workflow_name: $workflow.name,\n  execution_id: $execution.id,\n  start_time: $execution.startTime,\n  end_time: new Date().toISOString(),\n  run_time_seconds: (new Date() - new Date($execution.startTime)) / 1000,\n  status: $execution.status || 'Success',\n  current_node: $itemIndex !== undefined ? `Item ${$itemIndex}` : 'Final Node',\n  input_summary: $json\n};\n\n// Convertir JSON a binario para el nodo \"Write Binary File\"\nreturn [\n  {\n    json: summary,\n    binary: {\n      data: {\n        data: Buffer.from(JSON.stringify(summary, null, 2)).toString('base64'),\n        mimeType: 'application/json',\n        fileName: `${$workflow.name}_${$execution.id}.json`,\n      },\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,176],"id":"9d3c4d86-c232-4a5a-8c18-5216ac60dd5e","name":"Monitoreo"},{"parameters":{"operation":"write","fileName":"=/home/node/workflow_logs/{{$json.workflow_name}}.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[528,176],"id":"77d672ee-2439-42d5-9e95-d16fafadee1b","name":"Guardar Monitoreo"}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Transformar a lista de textos":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"Contador de reseñas","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get Firebase Token","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"If":{"main":[[{"node":"Mapping Texto Limpio","type":"main","index":0},{"node":"Guardado de Logs","type":"main","index":0}],[{"node":"Map error","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Guardar Preprocesados","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Guardar logs error","type":"main","index":0}]]},"Guardado de Logs":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Guardar logs ok","type":"main","index":0}]]},"Get Firebase Token":{"main":[[{"node":"Obtenemos los datos","type":"main","index":0}]]},"Obtenemos los datos":{"main":[[{"node":"Parseamos input","type":"main","index":0}]]},"Parseamos input":{"main":[[{"node":"Transformar a lista de textos","type":"main","index":0}]]},"Contador de reseñas":{"main":[[{"node":"Guardar total reseñas","type":"main","index":0}]]},"Mapping Texto Limpio":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Map error":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Guardar Preprocesados":{"main":[[{"node":"Monitoreo","type":"main","index":0}]]},"Guardar logs ok":{"main":[[{"node":"Monitoreo","type":"main","index":0}]]},"Guardar logs error":{"main":[[{"node":"Monitoreo","type":"main","index":0}]]},"Monitoreo":{"main":[[{"node":"Guardar Monitoreo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2c2d1496-37fb-45c4-8ac8-5b77b89a7fca","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-10T20:06:04.575Z","updatedAt":"2025-11-10T20:06:04.575Z","role":"workflow:owner","workflowId":"QwbZDsRf37FIFiTA","projectId":"zqanDFFiSqk9QFxI","project":{"createdAt":"2025-11-10T19:20:20.571Z","updatedAt":"2025-11-10T19:20:30.114Z","id":"zqanDFFiSqk9QFxI","name":"EZEQUIEL CORONEL <ezequielcoronel199@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-10T20:06:34.627Z","updatedAt":"2025-11-11T13:53:44.000Z","id":"tz9DZYCxLA4sQ8rd","name":"inference-agent","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Code node: \"Parse CSV → Items\"\n// Lee el binario \"data\" que dejó el nodo de lectura de disco y emite N items (uno por fila)\n\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'data');\nlet text = buf.toString('utf8');\n\n// Limpia BOM y saltos\nif (text.charCodeAt(0) === 0xFEFF) text = text.slice(1);\ntext = text.replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n');\n\n// Detecta delimitador: coma, punto y coma o tab\nfunction detectDelimiter(sample) {\n  const firstLine = sample.split('\\n')[0] || '';\n  const counts = {\n    ',': (firstLine.match(/,/g) || []).length,\n    ';': (firstLine.match(/;/g) || []).length,\n    '\\t': (firstLine.match(/\\t/g) || []).length,\n  };\n  return Object.entries(counts).sort((a,b) => b[1]-a[1])[0][0] || ',';\n}\nconst DELIM = detectDelimiter(text);\n\n// Parser CSV simple con comillas\nfunction parseCSV(t, delimiter) {\n  const rows = [];\n  let row = [];\n  let val = '';\n  let inQuotes = false;\n\n  for (let i = 0; i < t.length; i++) {\n    const c = t[i];\n\n    if (inQuotes) {\n      if (c === '\"') {\n        if (t[i + 1] === '\"') { val += '\"'; i++; }\n        else { inQuotes = false; }\n      } else {\n        val += c;\n      }\n    } else {\n      if (c === '\"') inQuotes = true;\n      else if (c === delimiter) { row.push(val); val = ''; }\n      else if (c === '\\n') { row.push(val); rows.push(row); row = []; val = ''; }\n      else { val += c; }\n    }\n  }\n  if (val.length > 0 || row.length > 0) { row.push(val); rows.push(row); }\n  return rows;\n}\n\nconst rows = parseCSV(text, DELIM);\nif (!rows.length) return [];\n\n// Primera fila = headers\nconst headers = rows.shift().map(h => String(h || '').trim());\n\n// Mapear filas a objetos JSON\nconst items = rows\n  .filter(r => r.some(x => String(x || '').trim() !== '')) // descarta filas vacías\n  .map(r => {\n    const obj = {};\n    headers.forEach((h, i) => { obj[h] = r[i] !== undefined ? r[i] : ''; });\n    return { json: obj };\n  });\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,272],"id":"60cbecfd-c769-4aeb-b898-60090315d36d","name":"Parse CSV → Items"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1680,432],"id":"094c998e-908a-4914-8a71-7afc9f41afc6","name":"Merge"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const result0 = $json[\"0\"];\nconst result1 = $json[\"1\"];\n\nlet bestResult = null;\n\n// Si existen ambos resultados, elegimos el de mayor score\nif (result0 && result1) {\n  bestResult = result0.score >= result1.score ? result0 : result1;\n} else {\n  // Si solo hay uno de los dos\n  bestResult = result0 || result1;\n}\n\n// Devolvemos un único objeto (no un array)\nreturn {\n  json: {\n    label: bestResult.label,\n    score: bestResult.score,\n    texto_limpio: $json.texto_limpio,\n    timestamp: new Date().toISOString()\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,432],"id":"f89f78a4-8aec-4935-a14f-da18cf81aef3","name":"Elige el score más alto"},{"parameters":{"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1952,672],"id":"e17f3b20-44db-497f-a279-ca2af40af02d","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"EYpPnE7Co7SzjDYu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"label\": { \"type\": \"string\" },\n    \"score\": { \"type\": \"number\" },\n    \"texto_limpio\": { \"type\": \"string\" },\n    \"analisis_ai\": { \"type\": \"string\" },\n    \"derivar_a\": { \"type\": \"string\" }\n  },\n  \"required\": [\"label\", \"score\", \"texto_limpio\", \"analisis_ai\", \"derivar_a\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2192,672],"id":"b787a33c-af16-4896-8b15-312f80d11369","name":"Structured Output Parser"},{"parameters":{"content":"# Agente de Inferencia\n## Recibe textos preprocesados, ejecuta el modelo de inferencia y guarda los resultados con analisis y derivación a Atención a usuarios o a Marketing\n","height":112,"width":2534},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[736,-64],"id":"9e036ce0-0fae-46a5-a8a7-711273da2cfb","name":"Sticky Note"},{"parameters":{"promptType":"define","text":"=Analizá el siguiente texto:\n\"{{$json[\"texto_limpio\"]}}\"\n\nResultados previos:\n- Sentimiento detectado: {{$json[\"label\"]}}\n- Nivel de confianza: {{$json[\"score\"]}}\n\nTarea:\nDevolvé un JSON con los siguientes campos:\n{\n  \"label\": \"{{$json[\"label\"]}}\",\n  \"score\": {{$json[\"score\"]}},\n  \"texto_limpio\": \"{{$json[\"texto_limpio\"]}}\",\n  \"analisis_ai\": \"string\",\n  \"derivar_a\": \"string\"\n}\n\nReglas:\n- En \"analisis_ai\", escribí un breve análisis del sentimiento (máx. 2 oraciones).\n- Si label = \"POSITIVE\" → derivar_a = \"Marketing\"\n- En cualquier otro caso → derivar_a = \"Atención a Usuarios\"\n- La salida debe ser SOLO un objeto JSON válido.\n","hasOutputParser":true,"options":{"systemMessage":"Sos un analista de sentimientos que trabaja con datos estructurados.\n\nReglas estrictas:\n- Procesá EXCLUSIVAMENTE los objetos que te lleguen en la entrada JSON.\n- NO inventes, traduzcas ni reescribas los textos.\n- Debés conservar \"label\", \"score\" y \"texto_limpio\" exactamente como vienen.\n- Solo agregá los campos \"analisis_ai\" y \"derivar_a\".\n- No generes nuevos objetos ni cambies la cantidad de elementos.\n- Respondé únicamente con un arreglo JSON (una lista []) que contenga un objeto por cada elemento recibido.\n- No agregues ningún texto fuera del JSON (ni explicaciones ni comentarios).\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2016,432],"id":"275448c0-7ba7-4e1c-9ffd-48d1f969e651","name":"Procesar inferencia y derivar"},{"parameters":{"method":"POST","url":"https://testproject-ab345-default-rtdb.firebaseio.com/resultados.json?auth=bn4kSmPS1OpwKaNiWhtY9PJfX7FMDDhdE5t1kSI2","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"label\": \"{{$json.output.label}}\",\n  \"score\": \"{{$json.output.score}}\",\n  \"texto_limpio\": \"{{$json.output.texto_limpio}}\",\n  \"analisis_ai\": \"{{$json.output.analisis_ai}}\",\n  \"derivar_a\": \"{{$json.output.derivar_a}}\",\n  \"timestamp\": \"{{$now}}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2336,768],"id":"72d2563f-6ada-48b5-8956-98b8e9663431","name":"Guardar inferencia y desición","executeOnce":false},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[752,272],"id":"4dfb8c02-4c35-4528-8516-d2cb95adb518","name":"When clicking ‘Execute workflow’"},{"parameters":{"content":"## Monitoreo ","height":224,"width":496},"type":"n8n-nodes-base.stickyNote","position":[2528,656],"typeVersion":1,"id":"f0b28df3-80de-4c38-bf52-8cf1abb1b90d","name":"Sticky Note1"},{"parameters":{"command":"ls -t /home/node/files_curados/*.csv | head -n 1\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[928,272],"id":"5c443ff6-4891-4d81-95b6-2863f59b74c8","name":"Obtenemos files preprocesados"},{"parameters":{"fileSelector":"={{ $json.stdout }}","options":{"fileExtension":"csv"}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1104,272],"id":"4d69742c-3d7c-47a0-a9bc-0f9d8d531727","name":"Leemos archivos csv"},{"parameters":{"jsCode":"// Construir resumen del log sin referencias externas\nconst summary = {\n  workflow_name: $workflow.name,\n  execution_id: $execution.id,\n  start_time: $execution.startTime,\n  end_time: new Date().toISOString(),\n  run_time_seconds: (new Date() - new Date($execution.startTime)) / 1000,\n  status: $execution.status || 'Success',\n  current_node: $itemIndex !== undefined ? `Item ${$itemIndex}` : 'Final Node',\n  input_summary: $json\n};\n\n// Convertir JSON a binario para el nodo \"Write Binary File\"\nreturn [\n  {\n    json: summary,\n    binary: {\n      data: {\n        data: Buffer.from(JSON.stringify(summary, null, 2)).toString('base64'),\n        mimeType: 'application/json',\n        fileName: `${$workflow.name}_${$execution.id}.json`,\n      },\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2592,704],"id":"7b5055de-e5b9-4b89-ae8c-e5d086201d34","name":"Monitoreo"},{"parameters":{"operation":"write","fileName":"=/home/node/workflow_logs/{{$json.workflow_name}}.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2800,704],"id":"54a2453d-0ec0-4719-89ab-097e10a4a46f","name":"Guardar Monitoreo"},{"parameters":{"fileSelector":"/home/node/multiagent-mlops/total-inputs-reviews.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2368,96],"id":"0e1d4c90-e461-4f42-a0f5-8b356cf0fc2b","name":"Leer total inputs","executeOnce":true},{"parameters":{"jsCode":"// Tomar el primer item que tenga binario\nconst item = $input.all().find(i => i.binary && i.binary.data);\nif (!item) {\n  throw new Error(\"No se encontró ningún archivo binario válido en la entrada\");\n}\n\n// Extraer y decodificar el archivo\nconst buf = Buffer.from(item.binary.data.data, 'base64');\nconst txt = buf.toString('utf8');\nconst obj = JSON.parse(txt);\n\n// Devolver JSON para Merge\nreturn [{ json: obj }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,96],"id":"84ad7bb5-e7d0-4174-9192-3c870c53fc0d","name":"Parsear total inputs"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2816,192],"id":"2b81035a-d4b6-4e84-b5a6-7b6f2305c4b5","name":"Combinamos para metricas"},{"parameters":{"jsCode":"// Leer total_reviews si viene de otra entrada (o 0 si no hay)\nconst totalReviewsInput =\n  $input.all().find(i => i.json?.total_reviews)?.json.total_reviews ?? 0;\n\n// Tomar los ítems de inferencia (pueden venir como array o separados)\nconst inferenciaItems = items.flatMap(i => Array.isArray(i.json) ? i.json : [i.json]);\n\nlet positivas = 0, negativas = 0, sumaPos = 0, sumaNeg = 0;\n\nfor (const item of inferenciaItems) {\n  const out = item.output || {};\n  const label = (out.label || '').toUpperCase();\n  const score = Number(out.score || 0);\n  if (label === 'POSITIVE') { positivas++; sumaPos += score; }\n  else if (label === 'NEGATIVE') { negativas++; sumaNeg += score; }\n}\n\nconst inferidas = positivas + negativas;\nconst descartadas = Math.max(totalReviewsInput - inferidas, 0);\nconst pct = (a, b) => b ? Number(((a / b) * 100).toFixed(2)) : 0;\nconst avg = (s, n) => n ? Number((s / n).toFixed(4)) : 0;\n\nconst metrics = {\n  fecha: new Date().toISOString(),\n  total_reviews_input: totalReviewsInput,\n  reviews_inferidas: inferidas,\n  reviews_descartadas: descartadas,\n  tasa_procesamiento: pct(inferidas, totalReviewsInput),\n  tasa_descarte: pct(descartadas, totalReviewsInput),\n  positivas,\n  negativas,\n  porcentaje_positivas: pct(positivas, inferidas),\n  porcentaje_negativas: pct(negativas, inferidas),\n  score_promedio: avg(sumaPos + sumaNeg, inferidas),\n  score_promedio_positivas: avg(sumaPos, positivas),\n  score_promedio_negativas: avg(sumaNeg, negativas),\n  sentiment_index: inferidas ? Number(((positivas - negativas) / inferidas).toFixed(3)) : 0\n};\n\n// devolverlo en binario para Write File\nreturn [{\n  json: {},\n  binary: {\n    data: {\n      data: Buffer.from(JSON.stringify(metrics, null, 2), 'utf8'),\n      mimeType: 'application/json',\n      fileName: 'metrics_inferencia.json'\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2992,192],"id":"365d6b30-8d76-46aa-be46-6114f79ce458","name":"Calculo de metricas performance"},{"parameters":{"operation":"write","fileName":"/home/node/multiagent-mlops/metrics_inferencia.json","options":{"append":false}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[3168,192],"id":"a255cffb-7165-4ccc-8b7b-471c458b747c","name":"Guardar metricas"},{"parameters":{"method":"POST","url":"https://router.huggingface.co/hf-inference/models/siebert/sentiment-roberta-large-english","authentication":"predefinedCredentialType","nodeCredentialType":"huggingFaceApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"inputs\": \"={{ $json.texto_limpio }}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,160],"id":"2e10208c-acde-4eda-bd6c-8d7e1f3561a3","name":"Inferencia Hugging Face","credentials":{"huggingFaceApi":{"id":"mYQhsF2dKMlwRwDU","name":"HuggingFaceApi account"}}}],"connections":{"Parse CSV → Items":{"main":[[{"node":"Inferencia Hugging Face","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Elige el score más alto","type":"main","index":0}]]},"Elige el score más alto":{"main":[[{"node":"Procesar inferencia y derivar","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Procesar inferencia y derivar","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Procesar inferencia y derivar","type":"ai_outputParser","index":0}]]},"Procesar inferencia y derivar":{"main":[[{"node":"Guardar inferencia y desición","type":"main","index":0},{"node":"Leer total inputs","type":"main","index":0},{"node":"Combinamos para metricas","type":"main","index":1}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Obtenemos files preprocesados","type":"main","index":0}]]},"Guardar inferencia y desición":{"main":[[{"node":"Monitoreo","type":"main","index":0}]]},"Obtenemos files preprocesados":{"main":[[{"node":"Leemos archivos csv","type":"main","index":0}]]},"Leemos archivos csv":{"main":[[{"node":"Parse CSV → Items","type":"main","index":0}]]},"Monitoreo":{"main":[[{"node":"Guardar Monitoreo","type":"main","index":0}]]},"Leer total inputs":{"main":[[{"node":"Parsear total inputs","type":"main","index":0}]]},"Parsear total inputs":{"main":[[{"node":"Combinamos para metricas","type":"main","index":0}]]},"Combinamos para metricas":{"main":[[{"node":"Calculo de metricas performance","type":"main","index":0}]]},"Calculo de metricas performance":{"main":[[{"node":"Guardar metricas","type":"main","index":0}]]},"Inferencia Hugging Face":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"487bb027-5dc1-4fd2-88df-6336f3b44a2a","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-10T20:06:34.631Z","updatedAt":"2025-11-10T20:06:34.631Z","role":"workflow:owner","workflowId":"tz9DZYCxLA4sQ8rd","projectId":"zqanDFFiSqk9QFxI","project":{"createdAt":"2025-11-10T19:20:20.571Z","updatedAt":"2025-11-10T19:20:30.114Z","id":"zqanDFFiSqk9QFxI","name":"EZEQUIEL CORONEL <ezequielcoronel199@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-10T20:06:50.104Z","updatedAt":"2025-11-11T13:48:37.000Z","id":"lNUdXTrx7EOV06X5","name":"doc-and-versioner-agent","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,384],"id":"7d25e12c-0e20-4c98-bc2e-96b5f099ebb4","name":"When clicking ‘Execute workflow’"},{"parameters":{"command":"n8n export:workflow --all --output=/home/node/workflows_backup.json\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[416,384],"id":"76130fe3-52c5-4c58-99bd-9c76214fc6c2","name":"Exportar Workflows"},{"parameters":{"jsCode":"// === Obtener el contenido del archivo leído ===\nlet raw = items[0].json.data;\n\n// Si viene codificado o binario, convertirlo a string\nif (typeof raw !== 'string') {\n  raw = JSON.stringify(raw);\n}\n\n// === Parsear el JSON del backup ===\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  throw new Error(\"No se pudo parsear el JSON del backup: \" + e.message);\n}\n\n// === Detectar si los workflows están dentro de un campo o en la raíz ===\nlet workflows = Array.isArray(parsed)\n  ? parsed\n  : parsed.workflows || parsed.data || [];\n\n// Validar que haya workflows\nif (!Array.isArray(workflows) || workflows.length === 0) {\n  throw new Error(\"No se encontraron workflows válidos en el backup.\");\n}\n\n// === Filtros: solo workflows del proyecto actual ===\nconst workflowsFiltrados = workflows.filter(wf =>\n  [\n    \"data-quality-agent\",\n    \"workflow-principal-moc\",\n    \"inference-agent\",\n    \"doc-and-versioner-agent\"\n  ].includes(wf.name)\n);\n\n// === Crear resumen ===\nreturn workflowsFiltrados.map(wf => ({\n  nombre: wf.name || \"(sin nombre)\",\n  id: wf.id || \"(sin id)\",\n  descripcion: `${wf.nodes?.length || 0} nodos`,\n  tipos_nodos: wf.nodes?.map(n => n.type).join(\", \") || \"sin nodos\",\n  conexiones: Object.keys(wf.connections || {}).length + \" conexiones\"\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,384],"id":"55213a45-344e-4481-8545-3b0c98ead76c","name":"Resumir Workflows"},{"parameters":{"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1152,592],"id":"0a243b81-5c97-4ef0-9353-3666f2d338ae","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"EYpPnE7Co7SzjDYu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{$json.documentation}}\n","options":{"systemMessage":"Actuás como un corrector técnico y de formato Markdown.\nRecibís documentación técnica de workflows n8n.\nDebés:\n\nMejorar ortografía y gramática.\n\nAgrega emojis para hacer la documentacion mas agradable visualmente.\n\nAsegurar que los títulos usan #, ##, ### correctamente.\n\nNo cambiar el contenido técnico.\n\nNo agregar explicaciones extras.\n\nDevolveme solo el Markdown corregido."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1696,384],"id":"4c296bc4-358e-4c48-a8e5-5d39878d10fc","name":"Corregir Markdown"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1696,592],"id":"30b68204-e65d-4767-b0a4-66b684d3bab3","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"EYpPnE7Co7SzjDYu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=A continuación se te provee un arreglo JSON con información de varios workflows exportados desde n8n:\n\n{{ $json }}\n\nCon esta información, generá un único documento en formato **Markdown (.md)** que contenga la documentación de todos los workflows.  \nCada workflow debe incluir las siguientes secciones:\n\n## {{ $json.nombre }}\n**ID:** {{ $json.id }}\n\n### Descripción general\nBasate en el campo {{ $json.descripcion }} para resumir cuántos nodos y conexiones tiene el flujo.\n\n### Propósito y contexto\nDescribí cuál podría ser su función dentro de un sistema automatizado.\n\n### Descripción técnica\nUsá los campos {{ $json.tipos_nodos }} y {{ $json.conexiones }} para explicar cómo está estructurado el flujo, qué tipo de nodos emplea (por ejemplo, `code`, `httpRequest`, `executeWorkflow`) y cómo se interrelacionan.\n\n### Recomendaciones\nIncluí sugerencias de mantenimiento y buenas prácticas específicas para este tipo de workflow (versionado, nomenclatura, logging, modularización).\n\n---\n\n⚠️ **Formato de salida obligatorio:**\n- Devolvé solo texto plano en formato Markdown.\n- No incluyas JSON ni explicaciones fuera del documento.\n- No uses bloques de código, solo texto estructurado con encabezados Markdown.\n","hasOutputParser":true,"options":{"systemMessage":"Actuás como un agente documentador técnico experto en n8n.  \nTu función es leer un listado JSON de workflows y generar documentación consolidada en formato Markdown.\n\nCada workflow incluye estos campos:\n- nombre\n- id\n- descripcion\n- tipos_nodos\n- conexiones\n\nDebés producir **un único texto** que documente todos los workflows de forma profesional, clara y estructurada.  \nNo devuelvas JSON ni objetos estructurados: solo texto en formato Markdown.\n\nEl contenido debe estar organizado por secciones, una por cada workflow, con títulos claros y descripciones técnicas detalladas.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1152,384],"id":"4c008bed-b71f-44cd-bd77-86d5704c02ef","name":"Generar Documentación"},{"parameters":{"operation":"write","fileName":"/home/node/multiagent-mlops/documentacion.md","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2208,384],"id":"ca4ea129-790f-4cb2-b4d6-a0bb91def539","name":"GuardarDocumentacion"},{"parameters":{"operation":"write","fileName":"/home/node/multiagent-mlops/workflows_backup.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[768,192],"id":"9dc81d35-5d8d-4421-b2a5-e25295e8e898","name":"GuardarBackup"},{"parameters":{"content":"# Agente de Documentación y Control de Versión\n## Realiza el backup del proyecto completo, genera la documentación pertinente y actualiza el repositorio de github del mismo.\n","height":112,"width":2694},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,-80],"id":"7dbfc91f-9710-4cb7-9eef-a7f6a2b7d5fe","name":"Sticky Note1"},{"parameters":{"fileSelector":"/home/node/workflows_backup.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[592,384],"id":"af33f5ef-ed4e-40d6-bb54-ac760bb00794","name":"Leemos Json generado","alwaysOutputData":true},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[784,384],"id":"01361c3a-3a97-4333-b4d8-2d8dc0f86a15","name":"Extracción de contenido"},{"parameters":{"jsCode":"// Combina todos los outputs del AI Agent en un solo texto Markdown\n\nlet combined = \"# Documentación Consolidada de Workflows n8n\\n\\n\";\n\nfor (const item of items) {\n  if (item.json.output) {\n    combined += item.json.output.trim() + \"\\n\\n---\\n\\n\";\n  }\n}\n\nreturn [{ json: { documentation: combined } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,384],"id":"705d3e48-97de-4daf-ac24-3f4b4d997c6c","name":"Combinar resultados en un unico archivo"},{"parameters":{"operation":"toText","sourceProperty":"output","options":{"fileName":"documentacion.md"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2000,384],"id":"688309d7-d2df-4113-bba5-3d21c785a908","name":"Configurar extensión de archivo"},{"parameters":{"command":"cd /home/node/multiagent-mlops\n\n# Copiar los archivos generados por n8n\n# cp /home/node/workflows_backup.json .\n# cp /home/node/documentacion.md .\n\n# Verificar cambios\ngit status\n\n# Hacer pull para evitar conflictos\n# git pull origin main --rebase\n\n# Agregar los nuevos archivos\ngit add documentacion.md workflows_backup.json\n\n# Crear commit con timestamp\ngit commit -m \"auto-doc: actualización de documentación y backup $(date +'%Y-%m-%d %H:%M:%S')\"\n\n# Subir al repositorio remoto\ngit push origin main\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2368,192],"id":"17f96e09-8c08-41c9-91d9-a3885c63baab","name":"Upload GitHub"},{"parameters":{"jsCode":"// Construir resumen del log sin referencias externas\nconst summary = {\n  workflow_name: $workflow.name,\n  execution_id: $execution.id,\n  start_time: $execution.startTime,\n  end_time: new Date().toISOString(),\n  run_time_seconds: (new Date() - new Date($execution.startTime)) / 1000,\n  status: $execution.status || 'Success',\n  current_node: $itemIndex !== undefined ? `Item ${$itemIndex}` : 'Final Node',\n  input_summary: $json\n};\n\n// Convertir JSON a binario para el nodo \"Write Binary File\"\nreturn [\n  {\n    json: summary,\n    binary: {\n      data: {\n        data: Buffer.from(JSON.stringify(summary, null, 2)).toString('base64'),\n        mimeType: 'application/json',\n        fileName: `${$workflow.name}_${$execution.id}.json`,\n      },\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2528,64],"id":"107c5ace-da95-474d-b035-cf46520584ec","name":"Monitoreo"},{"parameters":{"operation":"write","fileName":"=/home/node/workflow_logs/{{$json.workflow_name}}.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2720,64],"id":"dd221b89-559c-4e35-8b52-5135cb157f0c","name":"Guardar Monitoreo"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Exportar Workflows","type":"main","index":0}]]},"Exportar Workflows":{"main":[[{"node":"Leemos Json generado","type":"main","index":0}]]},"Resumir Workflows":{"main":[[{"node":"Generar Documentación","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Generar Documentación","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Corregir Markdown","type":"ai_languageModel","index":0}]]},"Generar Documentación":{"main":[[{"node":"Combinar resultados en un unico archivo","type":"main","index":0}]]},"Corregir Markdown":{"main":[[{"node":"Configurar extensión de archivo","type":"main","index":0}]]},"GuardarDocumentacion":{"main":[[{"node":"Upload GitHub","type":"main","index":0}]]},"Leemos Json generado":{"main":[[{"node":"Extracción de contenido","type":"main","index":0},{"node":"GuardarBackup","type":"main","index":0}]]},"Extracción de contenido":{"main":[[{"node":"Resumir Workflows","type":"main","index":0}]]},"Combinar resultados en un unico archivo":{"main":[[{"node":"Corregir Markdown","type":"main","index":0}]]},"Configurar extensión de archivo":{"main":[[{"node":"GuardarDocumentacion","type":"main","index":0}]]},"Upload GitHub":{"main":[[{"node":"Monitoreo","type":"main","index":0}]]},"Monitoreo":{"main":[[{"node":"Guardar Monitoreo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2c47eb05-5e9f-432d-870b-2cf0338cb4ba","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-10T20:06:50.106Z","updatedAt":"2025-11-10T20:06:50.106Z","role":"workflow:owner","workflowId":"lNUdXTrx7EOV06X5","projectId":"zqanDFFiSqk9QFxI","project":{"createdAt":"2025-11-10T19:20:20.571Z","updatedAt":"2025-11-10T19:20:30.114Z","id":"zqanDFFiSqk9QFxI","name":"EZEQUIEL CORONEL <ezequielcoronel199@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-10T20:06:57.499Z","updatedAt":"2025-11-10T20:07:10.000Z","id":"hQHV5pghHQN0FcNK","name":"firebase-auth-agent","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"c332cd82-83d1-4135-b4a9-b28cfda1827e","name":"When clicking ‘Execute workflow’"},{"parameters":{"command":"node -e \"const fs=require('fs');const jwt=require('jsonwebtoken');const axios=require('axios');(async()=>{const key=JSON.parse(fs.readFileSync('/home/node/credentials/testproject-firebase-cred.json','utf8'));const now=Math.floor(Date.now()/1000);const payload={iss:key.client_email,scope:'https://www.googleapis.com/auth/firebase.database https://www.googleapis.com/auth/userinfo.email',aud:'https://oauth2.googleapis.com/token',iat:now,exp:now+3600};const token=jwt.sign(payload,key.private_key,{algorithm:'RS256'});const params=new URLSearchParams();params.append('grant_type','urn:ietf:params:oauth:grant-type:jwt-bearer');params.append('assertion',token);const res=await axios.post('https://oauth2.googleapis.com/token',params);console.log(res.data.access_token);})();\"\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[224,0],"id":"9dda3ee2-218e-486a-9cb8-ab1f8a425c52","name":"Execute Command","alwaysOutputData":true},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      access_token: $json[\"stdout\"].trim(),\n      created_at: new Date().toISOString()\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,0],"id":"9a364c77-2f69-4dbb-af14-00e9beb923de","name":"Parse Firebase Token"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Parse Firebase Token","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"793c972c-c066-41ff-9219-fde74ca57159","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-10T20:06:57.501Z","updatedAt":"2025-11-10T20:06:57.501Z","role":"workflow:owner","workflowId":"hQHV5pghHQN0FcNK","projectId":"zqanDFFiSqk9QFxI","project":{"createdAt":"2025-11-10T19:20:20.571Z","updatedAt":"2025-11-10T19:20:30.114Z","id":"zqanDFFiSqk9QFxI","name":"EZEQUIEL CORONEL <ezequielcoronel199@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-11-10T20:07:46.112Z","updatedAt":"2025-11-27T21:58:58.000Z","id":"siic1OlTHrfutnm1","name":"reporter-agent","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-272,-16],"id":"d6a871ce-d484-4f90-b48b-8b40912d871a","name":"When clicking ‘Execute workflow’"},{"parameters":{"fileSelector":"/home/node/multiagent-mlops/metrics_inferencia.json","options":{"dataPropertyName":"data"}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-96,-16],"id":"db37b092-56a2-4564-9337-2e58a5d2bafd","name":"leer métricas"},{"parameters":{"jsCode":"// Capturamos la salida estándar del comando 'cat'\nconst raw = $json[\"stdout\"] || '{}';\n\n// Convertimos el texto en objeto JSON\nconst metrics = JSON.parse(raw);\n\n// Retornamos el JSON limpio para usar en los próximos pasos\nreturn [{ json: metrics }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,-16],"id":"6e3bc98a-425c-4fce-8459-a9903e75a24d","name":"parse métricas"},{"parameters":{"command":"cat /home/node/multiagent-mlops/metrics_inferencia.json\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[80,-16],"id":"1f63dec2-ff7c-40c9-a9b9-0ed36212e486","name":"Execute Command"},{"parameters":{"command":"cat /home/node/workflow_logs/*.json\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[448,-16],"id":"7eefb095-f956-4aea-b08b-53fe0fc950b0","name":"leer logs"},{"parameters":{"jsCode":"// Tomar la salida del cat\nconst raw = $json[\"stdout\"] || \"\";\n\n// Separar los objetos JSON por líneas o saltos entre archivos\n// Primero agregamos separadores para evitar errores de concatenación\nconst fixed = \"[\" + raw.replace(/}\\s*{/g, \"},{\") + \"]\";\n\nlet logs = [];\ntry {\n  logs = JSON.parse(fixed);\n} catch (err) {\n  logs = [{ error: \"No se pudo parsear el JSON de logs\", detalle: err.message }];\n}\n\n// Retornar el array de logs\nreturn logs.map(l => ({ json: l }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,-16],"id":"1db77e77-18d8-47e4-8dce-d8c2d1feb6da","name":"parse logs"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[800,272],"id":"ec4a5456-b6a5-4414-b529-2729bcdc241e","name":"Merge"},{"parameters":{"jsCode":"// Obtener todos los elementos combinados del Merge\nconst items = $input.all();\n\n// Separar métricas del resto (último item)\nconst metrics = items.find(i => i.json.fecha) ? items.find(i => i.json.fecha).json : {};\nconst logs = items.filter(i => i.json.workflow_name).map(i => i.json);\n\n// Crear resumen de ejecución\nconst totalWorkflows = logs.length;\nconst exitosos = logs.filter(l => l.status?.toLowerCase() === \"success\").length;\nconst fallidos = totalWorkflows - exitosos;\n\n// Calcular duración promedio si hay datos (en segundos)\nconst duraciones = logs\n  .map(l => l.run_time_seconds)\n  .filter(d => d !== null && d !== undefined);\nconst promedioDuracion =\n  duraciones.length > 0\n    ? duraciones.reduce((a, b) => a + b, 0) / duraciones.length\n    : null;\n\n// Crear objeto combinado\nconst reporteFinal = {\n  timestamp: new Date().toISOString(),\n  resumen_ejecuciones: {\n    total_workflows: totalWorkflows,\n    exitosos,\n    fallidos,\n    promedio_duracion: promedioDuracion,\n    detalles: logs.map(l => ({\n      workflow_name: l.workflow_name,\n      status: l.status,\n      end_time: l.end_time,\n      execution_id: l.execution_id\n    }))\n  },\n  resumen_metricas: metrics\n};\n\n// Devolver JSON listo para Gemini\nreturn [{ json: reporteFinal }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,272],"id":"9da22af6-09fe-420f-83ec-ab9a83ac7588","name":"unificar reporte final"},{"parameters":{"promptType":"define","text":"={{$json}}","options":{"systemMessage":"Eres el agente Reporter de un sistema multi-agente MLOps que analiza reseñas de clientes del restaurante \"La Pampa Gourmet\", ubicado en Buenos Aires.\n\nTu tarea es generar un reporte técnico y ejecutivo con base en el JSON de entrada, que contiene:\n- Logs de ejecución de los agentes (data-quality, inference, documentation, etc.)\n- Métricas de inferencia sobre reseñas positivas y negativas.\n\nEl reporte debe estar en formato Markdown y estructurado de la siguiente manera:\n\n### 📊 Resumen general de ejecución\n- Cantidad total de workflows ejecutados\n- Cantidad de ejecuciones exitosas y fallidas\n- Breve descripción del estado operativo general\n- Identificación de los workflows más recientes y su resultado\n\n### 📈 Indicadores de rendimiento del modelo\n- Tasa de procesamiento y tasa de descarte (con interpretación)\n- Índice de sentimiento (sentiment_index) y su significado\n- Promedios de score y su relevancia para la confianza del modelo\n\n### 💡 Análisis e insights\n- Detección de posibles cuellos de botella\n- Oportunidades de mejora en la calidad de datos o flujo de inferencia\n- Observaciones generales sobre el desempeño de los agentes\n\n### 🧭 Conclusión ejecutiva\nRedacta una conclusión breve, con tono profesional y analítico, orientada a negocio.  \nDebe incluir una frase final mencionando el nombre del restaurante **\"La Pampa Gourmet\"**.\n\nFormato de salida:\n- En Markdown limpio\n- Puedes usar emojis en los títulos o para destacar información\n- Tono claro, conciso y analítico\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1120,272],"id":"f2d5e0a7-17a1-493e-ba1b-3355dde27d83","name":"reporte gemini"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[992,480],"id":"1f36b19d-fe8e-4c40-9db9-2a57348789f4","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"EYpPnE7Co7SzjDYu","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"// === Combinar y preparar contenido Markdown ===\nlet markdown = \"# 📄 Reporte de Ejecución del Sistema MLOps\\n\\n\";\n\nfor (const item of items) {\n  const content = item.json.output || \"\";\n  markdown += content.trim() + \"\\n\\n---\\n\\n\";\n}\n\n// === Crear archivo Markdown binario ===\nconst buffer = Buffer.from(markdown, 'utf8');\n\nreturn [\n  {\n    json: { fileName: \"reporte_final.md\" },\n    binary: {\n      data: {\n        data: buffer,\n        mimeType: 'text/markdown',\n        fileName: 'reporte_final.md'\n      }\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,272],"id":"f6074702-82d3-4c7d-884c-d7f9571db5fd","name":"Generar reporte .md"},{"parameters":{"command":"cd /home/node/multiagent-mlops\n\n# Hacer pull para evitar conflictos\n# git pull origin main --rebase\n\n# Agregar los nuevos archivos\ngit add .\n\ngit commit -m \"auto-report: actualización de reporte de ejecución $(date '+%Y-%m-%d %H:%M:%S')\" \n\n# Subir al repositorio remoto\ngit push origin main\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1744,272],"id":"833a283b-0b30-4cf8-873f-b9d6272e3c74","name":"subir reporte a git"},{"parameters":{"content":"# Agente de Reportes de resultados y metricas\n## Genera reportes automáticos a partir de las métricas y logs de ejecución, integrando los resultados de inferencia, análisis de sentimiento y desempeño de los agentes para entregar conclusiones accionables.\n","height":112,"width":2406},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,-240],"id":"052ed2d0-3345-4eab-abba-7fc2bf5ee3ee","name":"Sticky Note"},{"parameters":{"sendTo":"ezequielcoronel668@gmail.com","subject":"Reporte mensual de análisis de reseñas - La Pampa Gourmet","message":"Buenos días. Adjunto el reporte más reciente generado por el sistema multiagente MLOps. ","options":{"attachmentsUi":{"attachmentsBinary":[{}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1600,64],"id":"df1ba63e-3415-47cc-94a6-8841bde65130","name":"Enviar reporte via mail","webhookId":"a438e65a-6eed-4c48-9f09-0da1e5b359b4","credentials":{"gmailOAuth2":{"id":"T5eYOXQJ0c2WN54L","name":"Gmail account"}}},{"parameters":{"operation":"write","fileName":"/home/node/multiagent-mlops/reporte_final.md","options":{"append":false}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1584,272],"id":"4be89faf-5001-4c09-b38f-d89f61b32236","name":"Guardar reporte final"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"leer métricas","type":"main","index":0}]]},"leer métricas":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"parse métricas","type":"main","index":0}]]},"parse métricas":{"main":[[{"node":"leer logs","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"leer logs":{"main":[[{"node":"parse logs","type":"main","index":0}]]},"parse logs":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"unificar reporte final","type":"main","index":0}]]},"unificar reporte final":{"main":[[{"node":"reporte gemini","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"reporte gemini","type":"ai_languageModel","index":0}]]},"reporte gemini":{"main":[[{"node":"Generar reporte .md","type":"main","index":0}]]},"Generar reporte .md":{"main":[[{"node":"Guardar reporte final","type":"main","index":0},{"node":"Enviar reporte via mail","type":"main","index":0}]]},"subir reporte a git":{"main":[[]]},"Guardar reporte final":{"main":[[{"node":"subir reporte a git","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"81a004b0-9c1d-43e0-a7a7-60385a1b2602","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-10T20:07:46.114Z","updatedAt":"2025-11-10T20:07:46.114Z","role":"workflow:owner","workflowId":"siic1OlTHrfutnm1","projectId":"zqanDFFiSqk9QFxI","project":{"createdAt":"2025-11-10T19:20:20.571Z","updatedAt":"2025-11-10T19:20:30.114Z","id":"zqanDFFiSqk9QFxI","name":"EZEQUIEL CORONEL <ezequielcoronel199@gmail.com>","type":"personal","icon":null,"description":null}}]}]